<h1>Angular Tasks</h1>

<div ng-app="app">
  <div ng-controller="pageCtrl">
    <h3>Add your own tasks</h3>
    Text: <input ng-model="newTaskText">
    <button ng-click="addTask(newTaskText)">Add Task</button>
    <button ng-click="removeTasks()">Remove Task</button>
    <br>
    <br>
    <br>
    <div id="tasks">
      Incomplete tasks: {{ incompleteTasks.length }}
      <div ng-repeat="task in tasks track by $index" ng-click="completedTask(task)" ng-class="{ 'completed': task.completed }">
        Text: {{ task.text }}<br>
        <input ng-model="task.text">
        <br>
        <br>
      </div>
    </div>
  </div>
</div>