<h1>Angular</h1>

<div ng-app="app">
  <div ng-controller="pageCtrl">
    <h3>Add your own message</h3>
    Text: <input ng-model="newMessageText">
    <button ng-click="addMessage(newMessageText)">Add Message</button>
    <button ng-click="removeMessages()">Remove Message</button>
    <br>
    <br>
    <br>
    <div id="messages">
      Incomplete messages: {{ incompleteMessages.length }}
      <div ng-repeat="message in messages track by $index" ng-click="completedMessage(message)" ng-class="{ 'completed': message.completed }">
        Text: {{ message.text }}<br>
        <input ng-model="message.text">
        <br>
        <br>
      </div>
    </div>
  </div>
</div>